<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>epoch</title>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  <!-- Bootstrap -->
  <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/solid.css" integrity="sha384-ioUrHig76ITq4aEJ67dHzTvqjsAP/7IzgwE7lgJcg2r7BRNGYSK0LwSmROzYtgzs" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous"> -->
  <!-- NProgress -->
  <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- bootstrap-progressbar -->
  <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
  <!-- Datatables -->
  <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="../build/css/custom.min.css" rel="stylesheet">

</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title">
              <i class="fa fa-paw"></i>
              <span>epoch</span>
            </a>
          </div>

          <div class="clearfix"></div>


          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">
                <li>
                  <a>
                    <i class="fa fa-home"></i> Home
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li>
                      <a href="/machine">機台狀態</a>
                    </li>
                    <li>
                      <a href="/mold">模具管理</a>
                    </li>
                    <li>
                      <a href="/manufacture">生產資訊</a>
                    </li>
                    <li>
                      <a href="/kanban">生產管理看板</a>
                    </li>
                    <li>
                      <a href="/tryMold">試模資訊</a>
                    </li>
                    <li>
                      <a href="/qcFile">檢驗資訊</a>
                    </li>
                    <li>
                      <a href="/parts/form">料號申請</a>
                    </li>
                    <li>
                      <a href="/parts/search">料號查詢</a>
                    </li>
                    <li>
                      <a href="/partsConfig">料號選項維護</a>
                    </li>
                    <li>
                      <a href="/users">使用者維護</a>
                    </li>
                    <li>
                      <a href="/manufacturePn">生產料號基本資料維護</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a>
                    <i class="fa fa-compass"></i> xxx
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li>
                      <a href="/xxx/yyy">yyy</a>
                    </li>
                    <li>
                      <a href="/xxx/zzz">zzz</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

          </div>
          <!-- /sidebar menu -->

        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <nav>
            <div class="nav toggle">
              <a id="menu_toggle">
                <i class="fa fa-bars"></i>
              </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  {{username}}
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                  <li>
                    <a href="javascript:;">Help</a>
                  </li>
                  <li>
                    <a href="/login/logout">
                      <i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->

      <!-- js若擺在前面,會影響navigation -->
      <!-- jQuery -->
      <script src="../vendors/jquery/dist/jquery.min.js"></script>
      <!-- Bootstrap -->
      <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>

      <!-- FastClick -->
      <script src="../vendors/fastclick/lib/fastclick.js"></script>
      <!-- NProgress -->
      <script src="../vendors/nprogress/nprogress.js"></script>
      <!-- Chart.js -->
      <script src="../vendors/Chart.js/dist/Chart.min.js"></script>
      <!-- jQuery Sparklines -->
      <script src="../vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
      <!-- easy-pie-chart -->
      <script src="../vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
      <!-- bootstrap-progressbar -->
      <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
      <!-- iCheck -->
      <script src="../vendors/iCheck/icheck.min.js"></script>
      <!-- Datatables -->
      <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
      <script src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>
      <!-- bootstrap-datetimepicker -->
      <script src="../vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
      <!-- momentjs -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

      <!-- jquery progress -->
      <script src="../build/js/jquery.progress.js"></script>

      <script src="../build/js/bootstrap-notify.min.js"></script>

      <script src="../build/js/lodash.min.js"></script>


      <!-- Custom Theme Scripts -->
      <script src="../build/js/custom.js"></script>
      <script src="../build/js/epoch.js"></script> {{#if isMachine}}
      <script src="../build/js/machineModule.js"></script> {{else if isMold}}
      <script src="../build/js/moldModule.js"></script> {{else if isManufacture}}
      <script src="../build/js/manufactureModule.js"></script> {{else if isTryMold}}
      <script src="../build/js/tryMoldModule.js"></script> {{else if isQcFile}}
      <script src="../build/js/qcFileModule.js"></script>
      <script src="../build/js/qcFileUploadModule.js"></script> {{else if isParts}}
      <script src="../build/js/partsModule.js"></script> {{else if isPartsConfig}}
      <script src="../build/js/partsConfigModule.js"></script> {{else if isUsers}}
      <script src="../build/js/usersModule.js"></script> {{else if isManufacturePn}}
      <script src="../build/js/manufacturePnModule.js"></script>
      {{/if}}

      <!-- page content -->
      {{{body}}}
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Dashboard Template by
          <a href="">Meproz</a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>


  <script>
    $(document).ready(function () {
      {{#if isMachine}}
      {{else if isMold}}
      {{else if isManufacture}}
      {{/if}}
    });
  </script>

</body>

</html>
</html>
